body, html {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("img/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 600px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* background-color: #333; */
    background-color: #CC0000;

}
li {
	float: right;
}
li a {
	display: block;
	color: white;
    text-shadow: 1px 1px 2px black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: black;
}
h1 img{
	float: right;
}
h1,h2 {
    color: #111;
    font-weight: bold;
    padding-left: 1%;
	margin: 0.5em;
	font-size: 2em;
}

figure {
	text-align: center;
}

h2 {
	position;
    font-weight: bold;
	font-size: 1.5em;
	padding-left: 2%;
	color: black;
}

h2 a{
    font-weight: bold;
	font-size: 1em;
	a:link    { color: black; }
    a:visited { color: black; }
}

main a {
	color: black;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
	padding-left: 3%;
}
hr {
	margin: 1em;
	border: 2px solid black;
	clear: both;
}
.novosti img {
	width: 17%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.novosti img:hover{
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}
.novosti h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: black;
}
.novosti hr {
	margin: 1em;
	border: 2px solid black;
	clear: both;
}
.novosti time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
/*Gumb */
button{
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 12px;
	height: 30px;
	width: fit-content;
	
}
.novosti button:hover{
	background-color: lightgray;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*Gumb */

#novosti figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid black;
}
#novosti figcaption {
	font-size: 90%;
	text-align: center;
}
#gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 22%;
	border: 1px solid black;
}
#gallery figcaption {
	font-size: 90%;
	height: 50px;
	text-align: center;
}
figure {
	padding: 0.5em;
	padding-right: 2em;
	margin: 0 1em 0.5em 1em;
	float: right;
	width: 50%;
	/* border: 1px solid black; */
}
figcaption {
	padding-top: 1%;
	font-size: 90%;
}
img {
	width: 100%;
}
video {
	margin: 0 1em 1em 1em;
	float: left;
}
#contact {
	margin: 1em
}
label {
	display: block;
}
input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Oswald', sans-serif;
	font-size: 95%;
}

input[type=submit] {
    display: block;
	background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 25%;
}

input[type=submit]:hover {
    background-color: #45a049;
}
footer {
	background-color: #000000;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}

@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.novosti img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.novosti time {
		margin: 0 0 0 1em;
	}
	#novosti figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#novosti figcaption {
		font-size: 90%;
		text-align: center;
	}
	#gallery figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 40%;
		border: 1px solid black;
	}
	#gallery figcaption {
		font-size: 90%;
		height: 70px;
		text-align: center;
	}
}